.game-container {
    display: flex;
    height: 100%;
}

.game-container.loading {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-area {
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 8.8em 0 5em;
    width: 73%;
}

.quiz-question {
    max-width: 60%;
}

.quiz-question p {
    font-size: 2em;
    line-height: 116%;
    font-weight: 600;
}

.progress-area {
    width: 27%;
}

.progress-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu {
    display: none;
    align-self: flex-end;
}

img[class^='mobile-logo-'] {
    width: 2em;
    height: 1.75em;
}

.loading-description {
    font-size: 1.5em;
    line-height: 116%;
    font-weight: 600;
}

.loading-spinner {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 3px solid #D0D0D8;
    border-top-color: #FF8B37;
    animation: spinner 0.7s linear infinite;
    display: block;
    margin-bottom: 1.5em;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
    .quiz-question {
        max-width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    .quiz-area {
        padding: 0 6.6em 0 3.75em;
        width: 70%;
    }
    .progress-area {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-menu {
        display: block;
    }
    .progress-area {
        display: none;
    }
    .quiz-area {
        width: 100%;
        padding: 2em 2.5em 3.5em;
        justify-content: space-between;
    }
    .quiz-question p {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .quiz-question p {
        font-size: 1.8em;
    }
}
