.home-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.home-container:after {
    content: ' ';
    border-bottom: 100vh solid #FFF3EB;
    border-left: 100vw solid transparent;
    width: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
}

.home-title {
    font-size: 56px; /* 32px mobile */
    font-size: 3.5em;
    line-height: 116%;
    font-weight: 600;
    margin: 0;
    margin-bottom: 64px;
}

.logo-container {
    margin-right: 32px;
}

.mobile-column {
    display: none;
}


/* Media queries */
@media screen and (min-width: 2000px) {
    .logo-container {
        width: 25%;
        margin-right: 3%;
    }
    .home-logo {
        width: 100%;
    }
}


@media screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
        padding: 80px 16px 48px;
        justify-content: space-between;
    }
    .home-title {
        margin-bottom: 0;
        text-align: center;
    }
    .content-column button {
        display: none;
    }
    .mobile-column {
        display: block;
    }
    .logo-container {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .logo-container {
        max-width: 96%;
    }
    .home-logo {
        width: 100%;
    }
}
